<div class="container">
  <h1>Recipes</h1>
    <div class="row">
      <div class="col-xs-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @recipe.photo, height: 300, width: 300, crop: :fill %>');">
          <div class="card-name">
            <h2> <%= @recipe.name %></h2>
          </div>
          <div class="card-favorite">
            <i class="far fa-heart"></i>
          </div>
          <div class="card-price">
           <h3>CHF 56</h3>
          </div>
          <div class="card-time">
            <i class="fas fa-stopwatch">  <%= @recipe.cooking_time %>'</i>
          </div>
          <div class="card-info">
            <i class="fas fa-info"></i>
          </div>
        </div>
      </div>
    </div>
  <% recipe_ids = [] %>
  <% recipe_ids << params[:recipe_ids] unless params[:recipe_ids].nil? || all_recipes_skipped?(params[:recipe_ids]) %>
  <% recipe_ids.flatten! %>
  <% recipe_ids << @recipe.id %>
  <%= link_to "Yikes", recipes_path(recipe_ids: recipe_ids) %>
  <div>Yummy</div>
</div>
