<div class="footer">
  <div class="footer-logo">Shoprite</div>
  <div class="footer-content">
    <p>made with  <i class="fas fa-heart"></i>  by Carole & Albert</p>
  </div>
  <div class="footer-icons">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
  </div>
</div>
