<div class="planning">
  <% @order.recipes.each do |key, value| %>
    <div class="row-planning">
      <h2><%= key.capitalize %> : </h2>
      <ul class="list-unstyled">
        <li><%= display_recipe_name(value).length > 20 ? "#{display_recipe_name(value).first(25)}..." : display_recipe_name(value) %> CHF <%= display_price_recipe(value) %></li>
      </ul>
    </div>
  <% end %>
  <div id="total-planning">
    <p>Total: <%= render "payments/total" %></p>
  </div>
</div>


