<div class="container">
  <%= simple_form_for [@order, @delivery] do |f| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="col-xs-12">
         <h1>Choose your delivery time</h1>
        <%= f.input :date %>
      </div>
      <div class="col-xs-12">
        <%= f.input :time %>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <%= f.submit "Confirm delivery", class: "link-to-button" %>
    </div>
  <% end %>
  </div>
</div>
