<div class="container">
  <h1>Your Cart</h1>
  <% @order.order_details.each do |order_detail| %>
    <h3><%=  order_detail.composant.recipe.name %></h3>
  <% end %>
  <%= render 'shared/weekly_planning' %>
</div>
