<div class="container">
  <h1>Your Cart</h1>
  <h3><%= @order.order_details.blank? ? "No composant for the recipe selected" : @order.order_details.first.composant.recipe.name %></h3>
  <% @order.order_details.each do |order_detail| %>
    <li><%=  order_detail.composant.recipe.name %></li>
  <% end %>
  <%= link_to recipes_path do %>
    <i class="fas fa-chevron-circle-left"></i>
  <% end %>
</div>
