<div class="container">
  <h1>Your Cart</h1>
  <div class="row">
    <%= render "orders/composant-itemview" %>
  </div>
  <%= link_to recipes_path do %>
    <i class="fas fa-chevron-circle-left" style="color: red; font-size: 40px; margin-bottom: 10px; "></i>
  <% end %>
</div>
