<% total_amount = 0 %>
<% @order.recipes.each do |key, value| %>
  <% @order.order_details.where(day: key).each do |detail| %>
  <% total_amount += detail.composant.price_cents %>
  <% end %>
<% end %>
<h3>Total amount: <%= humanized_money_with_symbol(total_amount) %> </h3>




