button {
  background-color: #ED462F;
  text-decoration: none;
  color: white;
  border: solid 1px  #ED462F;
  border-radius: 20px;
  padding: 5px 30px;
}

button:hover {
  background-color: #ed796a;
  border: solid 1px #ed796a;
}

.link-to-button {
  background-color: #ED462F;
  color: white;
  border: solid 1px  #ED462F;
  border-radius: 20px;
  padding: 5px 30px;
  margin-top: 10px;
  text-align: center;
}


.link-to-button:hover {
  background-color: #ed796a;
  border: solid 1px #ed796a;
  color: white;
  text-decoration: none;
}


#yummy {
  background-color: green;
  border: solid 1px green;
}

#yummy:hover {
  background-color: lightgreen;
  border: solid 1px lightgreen;
}
