.credentials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: green;
  margin: 10px;
  padding: 5px;
}

.card-credential {
  width: 450px;
  height: 200px;
  margin: 15px;
  background: white;
  color: black;
  border-top: 2px solid rgba(237,70,43,0.6);
  border-left: 2px solid rgba(237,70,43,0.6);
  border-right: 1px solid rgba(237,70,43,0.6);
  border-bottom: 1px solid rgba(237,70,43,0.6);
  border-top-left-radius:30px;
  border-bottom-right-radius:30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-credential {
  padding: 20px;
  strong {
    color: #ed462f;
  }
  h4 {
    text-align: left;
  }
}

.img-credential {
  padding: 10px;
}

.fa-quote-left {
    color: #ed462f;
    text-shadow: 1px 1px 1px #f26e5c;
    font-size: 1.2em;
    font-weight: lighter;
}

.fa-quote-right {
    color: #ed462f;
    text-shadow: 1px 1px 1px #f26e5c;
    font-size: 1.2em;
    font-weight: lighter;
}
