.card {
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  border-radius: 3px;
  border-top: 1px solid lightgrey;
  box-shadow: 1px 3px 1px 1px lightgrey;
  position: relative;
}

.card-name {
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-size: 30px;
  font-weight: lighter;
  width: 450px;
  margin-top: 0;
}

.card-name h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 50px;
}

.card-favorite {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 10px;
}

.far.fa-heart {
  color: white;
}

.far.fa-heart:hover {
  color: red
}

.card-price {
  position: absolute;
  background-color: rgba(46, 49, 49, 0.5);
  top: 30px;
}

.card-price h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 40px;
}

.card-time {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 30px;
}

i.fa-clock {
  font-size: 25px;
}


.card-info {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 10px;
  right: 20px;
  font-size: 25px;
  border-radius: 30px;
  border: solid 2px white;
  padding: 7px 20px;
  text-decoration: none;
  color: white;
}

.card-info:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.card-picture {
  width: 200px;
}

#show-recipe {
  background-color: white;
}

#show-name {
  top: 10px;
  left: 30px;
  color: black;
}

#show-name li {
  font-size: 18px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-weight: 400;
}

#show-name h3 {
  margin-top: 10px;
}

#show-back {
  position: absolute;
  bottom: 10px;
  color: #ED462F;
  text-decoration: none;
  font-size: 40px;
  padding: 0;
}

#show-back:hover {
  color: #ed796a;
}

#show-photo {
  position: absolute;
  left: 20px;
  border: solid white 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

#show-review {
  position: absolute;
  bottom: 55px;
  left: 30px;
  color: black;
}

#show-review h3 {
  margin-bottom: 5px;
}

#show-review p {
  padding: 20px;
  width: 760px;
  height: 60px;
  font-size: 18px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-weight: 400;
  box-shadow: 1px 1px 1px 1px lightgrey;
  display: flex;
  justify-content: space-between;
}

#show-ingredients {
  position: absolute;
  top: 10px;
  right: 200px;
  color: black;

}

#show-ingredients ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  max-width: 300px;


}

#show-ingredients li {
  font-size: 18px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-weight: 400;
  margin-left: 10px;
}

