.recipe-cart {
  background-color: lightgrey;
  border-radius: 5px;
  border: lightgrey;
  box-shadow: 5px 8px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}

.ingredient-cart {
  background-color: white;
  padding: 20px;
}
