#form-payment {
  margin-top: 30px;
  background-color: white;
  padding-bottom: 30px;
}

article {
  margin: auto;
  text-align: center;
}

#button-pay {
  display: flex;
  justify-content: space-around;
}
