.shoprite-nutshell {
  padding: 5% 3% 0% 5%;
  background-color: rgb(248,248,248);
}

.shoprite-statement {
  text-align: center;
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 80px;
  }
}

/* -----------------------> HOW IT WORKS section <---------------------*/

.howkitworks-logo {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
  border-top-left-radius: 60px;
  border-top-right-radius: 0px;
  border-top: 2px solid #ed462f;
  border-left: 2px solid #ed462f;
  border-right: 2px solid #ed462f;
}

.howkitworks-statement{
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 60px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: red;
  background-color: white;
  border-left: 2px solid #ed462f;
  border-right: 2px solid #ed462f;
}

.howkitworks-description {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 50px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  background-color: white;
  border-left: 2px solid #ed462f;
  border-right: 2px solid #ed462f;
  border-bottom: 2px solid #ed462f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Fontawesome */

.fa-shipping-fast {
    color: white;
    // text-shadow: 1px 1px 1px #f26e5c;
    font-size: 4.5em;
    font-weight: lighter;
    text-shadow: -1px 0 #ea2e2e, 0 1px #ea2e2e, 1px 0 #ea2e2e, 0 -1px #ea2e2e;
}


/* ----------------------> CAROUSEL SECTION <---------------------- */

.carousel-control {
  color: #ED462F;
}

.carousel-caption {
  margin-top: 80px;
  margin-left: 0px;
  width: 1450px;
  text-align: left;
  padding-left: 30px;
  color: #ed462f;
  font-size: 25px;
  left: 0;
  bottom: 200px;
}

.background-white {
  //background-color: rgba(255,255,255, 0.5);
}

.carousel,.item,.active {
  height: 100%;
  margin-bottom: 60px;
  //background-image:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3))
}

.carousel-inner {
  height: 100%;
  border-radius: 5px;
  //background-image:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3))
}

.carousel-button  {
  margin-top: 300px;
  margin: 50px auto;
  // margin-bottom: 30px;
  width: 200px;
  font-size: 25px;
  left: 100px;
  bottom: 100px;
}

/* CREDENTIALS section */

.header-section {
  text-align: center;
  background: white;
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  //border-right: 2px solid #ed462f;
  // border-top: 2px solid #ed462f;
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 20px 0px;
    color: #d33621;
    font-weight: bolder;
    font-size: 60px;
  }
}

.header-section-second {
  text-align: center;
  background: white;
  margin-top: 00px;
  margin-left: 50px;
  margin-right: 56px;
  background-color: rgba(237,70,43,0.15);
  border-left: 1px solid #ed462f;
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px;
    color: #d33621;
    font-weight: bolder;
    font-size: 60px;
  }
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
