.logo {
  font-family: 'Lobster', 'cursive';
  color: #ED462F;
}

.logo h1 {
  font-family: 'Lobster', 'cursive';
  color: #ED462F;
  font-size: 50px;
  }

.logo h2 {
  font-family: 'Lobster', 'cursive';
  color: #ED462F;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  }

.circle-icon {
  background: #ED462F;
  padding: 15px;
  border-radius: 50%;
}

.fa-bacon {
  color: white;
}

#circle-icon-home {
  padding: 10px;
}
