.planning {
  background-color: white;
  min-width: 100%;
}

.planning h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.planning li {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 5px;
}


.row-planning {
  height: 70px;
}
