.planning {
  background-color: white;
  min-width: 100%;
  box-shadow: 1px 1px 3px 3px #F0F0F0;
}

.planning h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-weight: 700;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.planning li {
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 5px;
  padding-left: 10px;
}

.row-planning {
  height: 79.5px;
  border-bottom: 1px solid #F0F0F0;
}

.placeholder-light {
  color: lightgrey;
  font-weight: 100;
}

.placeholder-bold {
  color: black;
}

#total-planning {
  text-align: center;
  background-color: lightgrey;
  height: 40px;
}

#total-planning p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}

#content-row {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;

}
