.planning {
  background-color: white;
  min-width: 100%;

}

.planning h2 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-family: 'Lato', 'sans-serif';
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.planning li {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 5px;
  padding-left: 10px;
}


.row-planning {
  height: 70px;
  border-bottom: solid 1px lightgrey;

}
